.reviews{
  
}
.review-container{
    padding: 6rem 10rem;
    background-color: white;
    height: 600px;
    border-radius: 1rem;
}
  
  .swiper {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  .swiper-pagination-bullet-active {
    background-color: white !important;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--color);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 3.5rem;
    bottom: 2.5rem;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: white;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  

.reviews-content-card{
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.reviews-content-card h1{
    font-family: var(--font-family);
    color: white;
    font-size: 21px;
    margin-bottom: 1rem;
    text-align: left;
    line-height: 2.3rem;
}
.reviews-content-author{

}
.reviews-content-author h1{
    font-family: "inter";
    color: white;
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: 400;
    margin: 0;
}
.reviews-content-author-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.reviews-content-author-title h3{
    font-family: "inter";
    color: white;
    font-size: 14px;
    margin-bottom: 1rem;
    font-weight: 400;
    margin: 0;
}
.reviews-content-author-title div{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
    margin: 0 0.8rem;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: black;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

@media screen and (max-width: 1200px) {
  .reviews{

  }
  .review-container{
      padding: 6rem 3rem;
      height: 650px;
  }
    
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-pagination-bullet-active {
      background-color: white !important;
    }
    
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: var(--color);
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: white;
    }
    
    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: white;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  .reviews-content-card{
      width: 100%;
      height: 100%;
      padding: 4rem 6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
  }
  .reviews-content-card h1{
      font-family: var(--font-family);
      color: white;
      font-size: 29px;
      margin-bottom: 1rem;
      text-align: left;
      line-height: 2.5rem;
  }
  .reviews-content-author{
  
  }
  .reviews-content-author h1{
      font-family: "inter";
      color: white;
      font-size: 19px;
      margin-bottom: 1rem;
      font-weight: 300;
      margin: 0;
  }
  .reviews-content-author-title{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
  }
  .reviews-content-author-title h3{
      font-family: "inter";
      color: white;
      font-size: 16px;
      margin-bottom: 1rem;
      font-weight: 300;
      margin: 0;
  }
  .reviews-content-author-title div{
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: white;
      margin: 0 0.8rem;
  }
  
}

@media screen and (max-width: 800px) {
  .reviews{

  }
  .review-container{
      padding: 5rem 2rem;
      height: 550px;
  }
    
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-pagination-bullet-active {
      background-color: white !important;
    }
    
    .swiper-slide {
      text-align: center;
      font-size: 16px;
      background: var(--color);
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 33px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: white;
    }
    
    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: white;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  .reviews-content-card{
      width: 100%;
      height: 100%;
      padding: 3rem 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
  }
  .reviews-content-card h1{
      font-family: var(--font-family);
      color: white;
      font-size: 23px;
      margin-bottom: 1rem;
      text-align: left;
      line-height: 2rem;
  }
  .reviews-content-author{
  
  }
  .reviews-content-author h1{
      font-family: "inter";
      color: white;
      font-size: 16px;
      margin-bottom: 1rem;
      font-weight: 300;
      margin: 0;
  }
  .reviews-content-author-title{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
  }
  .reviews-content-author-title h3{
      font-family: "inter";
      color: white;
      font-size: 14px;
      margin-bottom: 1rem;
      font-weight: 300;
      margin: 0;
  }
  .reviews-content-author-title div{
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: white;
      margin: 0 0.8rem;
  }
  
}

@media screen and (max-width: 500px) {
  .reviews{

  }
  .review-container{
      padding: 2rem 1rem;
      height: 430px;
  }
    
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-pagination-bullet-active {
      background-color: white !important;
    }
    
    .swiper-slide {
      text-align: center;
      font-size: 2px;
      background: var(--color);
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 25px;
      z-index: 10;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: white;
    }
    
    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 3px;
      stroke: white;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  .reviews-content-card{
      width: 100%;
      height: 100%;
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
  }
  .reviews-content-card h1{
      font-family: var(--font-family);
      color: white;
      font-size: 16px;
      margin-bottom: 1rem;
      text-align: left;
      line-height: 1.60rem;
  }
  .reviews-content-author{
  
  }
  .reviews-content-author h1{
      font-family: "inter";
      color: white;
      font-size: 14px;
      margin-bottom: 1rem;
      font-weight: 300;
      margin: 0;
  }
  .reviews-content-author-title{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
  }
  .reviews-content-author-title h3{
      font-family: "inter";
      color: white;
      font-size: 12px;
      margin-bottom: 1rem;
      font-weight: 300;
      margin: 0;
  }
  .reviews-content-author-title div{
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: white;
      margin: 0 0.8rem;
  }
  
}

@media screen and (max-width: 350px) {
  .reviews{

  }
  .review-container{
      padding: 2rem 1rem;
      height: 320px;
  }
    
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-pagination-bullet-active {
      background-color: white !important;
    }
    
    .swiper-slide {
      text-align: center;
      font-size: 2px;
      background: var(--color);
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 10px;
      z-index: 10;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: white;
    }
    
    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 3px;
      stroke: white;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  .reviews-content-card{
      width: 100%;
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
  }
  .reviews-content-card h1{
      font-family: var(--font-family);
      color: white;
      font-size: 14px;
      margin-bottom: 1rem;
      text-align: left;
      line-height: 1.2rem;
  }
  .reviews-content-author{
  
  }
  .reviews-content-author h1{
      font-family: "inter";
      color: white;
      font-size: 13px;
      margin-bottom: 1rem;
      font-weight: 600;
      margin: 0;
  }
  .reviews-content-author-title{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
  }
  .reviews-content-author-title h3{
      font-family: "inter";
      color: white;
      font-size: 10px;
      margin-bottom: 1rem;
      font-weight: 300;
      margin: 0;
  }
  .reviews-content-author-title div{
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: white;
      margin: 0 0.8rem;
  }
  
}