.cta{
    background-color: black;
    padding: 6rem 10rem;

}
.cta-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 4rem;
}
.home-about-title{

}
.cta-form-title{
    width: 100%;
}
.cta-form-title h1{
    font-family: "inter";
    color: var(--color);
    font-size: 43px;
    margin-bottom: 1rem;
}
.cta-form-title p{
    font-family: "inter";
    color: rgb(143, 143, 143);
    font-size: 16px;
}
.cta-form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 100%;
    margin: 3rem 0;
}
.form-left{

}
.form-left-input{
    width: 100%;
    background-color: rgb(236, 236, 236);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    outline: none;
}
.form-left-input:last-child{
    margin-bottom: 0rem;
}
.stuff{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.form-icon{
    margin-right: 0.5rem;
    margin-top: 0.1rem;
    color: var(--color);
}
.form-left-input input{
        width: 100%;
        height: 60px;
        background-color: transparent;
        border: none;
        font-family: "inter";
        color: rgb(188, 188, 188);
        max-width: 600px;
        font-size: 14px;
        outline: none;
       

}
.form-right{

}
.form-left-textarea{
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    padding: 1.3rem 1rem;
    outline: none;
}
.form-left-textarea textarea{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: "inter";
    color: rgb(188, 188, 188);
    max-width: 600px;
    font-size: 14px;
    outline: none;
}
.cta-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cta-footer-container h1{
    font-family: "inter";
    color: rgb(143, 143, 143);
    max-width: 600px;
    font-size: 14px;
}
.cta-footer-container span{
    color: var(--color);
}
.cta-footer-button{
    padding: 1rem 2rem;
    background-color: var(--color);
    border-radius: 0.5rem;
    cursor: pointer;
}
.cta-footer-button p{
    font-family: "inter";
    color: white;
    max-width: 600px;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .cta{
        padding: 6rem 3rem;
    
    }
    .cta-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 4rem;
    }
    .home-about-title{
    
    }
    .cta-form-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
        margin: 3rem 0;
    }
    .form-left{
    
    }
    .form-left-input{
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        padding-left: 1rem;
    }
    .form-left-input:last-child{
        margin-bottom: 0rem;
    }
    .stuff{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .form-icon{
        margin-right: 0.5rem;
        margin-top: 0.1rem;
        color: var(--color);
    }
    .form-left-input input{
            width: 100%;
            height: 60px;
            background-color: transparent;
            border: none;
            font-family: "inter";
            max-width: 600px;
            font-size: 14px;
           
    
    }
    .form-right{
    
    }
    .form-left-textarea{
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        padding: 1.3rem 1rem;
    }
    .form-left-textarea textarea{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-family: "inter";
        max-width: 600px;
        font-size: 14px;
    }
    .cta-footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .cta-footer-container h1{
        font-family: "inter";
        max-width: 600px;
        font-size: 14px;
    }
    .cta-footer-container span{
        color: var(--color);
    }
    .cta-footer-button{
        padding: 1rem 2rem;
        background-color: var(--color);
        border-radius: 0.5rem;
        cursor: pointer;
    }
    .cta-footer-button p{
        font-family: "inter";
        max-width: 600px;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .cta{
        padding: 4rem 2rem;
    
    }
    .cta-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 2rem;
    }
    .home-about-title{
    }

    .cta-title{
        max-width: 500px !important;
    }
    .cta-form-title h1{
        font-size: 33px;
    }
    .cta-form-title p{
        font-size: 16px;
        line-height: 1.5rem;
    }
    .cta-form-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
        margin: 1.5rem 0;
    }
    .form-left{
    
    }
    .form-left-input{
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        padding-left: 1rem;
    }
    .form-left-input:last-child{
        margin-bottom: 0rem;
    }
    .stuff{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .form-icon{
        margin-right: 0.5rem;
        margin-top: 0.1rem;
        color: var(--color);
    }
    .form-left-input input{
            width: 100%;
            height: 60px;
            background-color: transparent;
            border: none;
            font-family: "inter";
            max-width: 600px;
            font-size: 14px;
           
    
    }
    .form-right{
    
    }
    .form-left-textarea{
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        padding: 1.3rem 1rem;
    }
    .form-left-textarea textarea{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-family: "inter";
        max-width: 600px;
        font-size: 14px;
    }
    .cta-footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .cta-footer-container h1{
        font-family: "inter";
        max-width: 600px;
        font-size: 14px;
    }
    .cta-footer-container span{
        color: var(--color);
    }
    .cta-footer-button{
        padding: 0.5rem 1.5rem;
        background-color: var(--color);
        border-radius: 0.5rem;
        cursor: pointer;
    }
    .cta-footer-button p{
        font-family: "inter";
        max-width: 600px;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .cta{
        padding: 2rem 1rem;
    
    }
    .cta-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 1.5rem 1rem;
    }
    .home-about-title{
    }

    .cta-title{
        font-size: 13px !important;
        max-width: 300px !important;
    }
    .cta-form-title h1{
        font-family: "inter";
        color: var(--color);
        font-size: 33px;
        margin-bottom: 0.5rem;
    }
    .cta-form-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
        margin: 0rem 0 1.5rem;
    }
    .form-left{
    
    }
    .form-left-input{
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        padding-left: 1rem;
    }
    .form-left-input:last-child{
        margin-bottom: 0rem;
    }
    .stuff{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .form-icon{
        margin-right: 0.5rem;
        margin-top: 0.1rem;
        color: var(--color);
    }
    .form-left-input input{
            width: 100%;
            height: 60px;
            background-color: transparent;
            border: none;
            font-family: "inter";
            max-width: 600px;
            font-size: 14px;
           
    
    }
    .form-right{
    
    }
    .form-left-textarea{
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        padding: 1.3rem 1rem;
    }
    .form-left-textarea textarea{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-family: "inter";
        max-width: 600px;
        font-size: 14px;
    }
    .cta-footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
     
    }
    .cta-footer-container h1{
        font-family: "inter";
        max-width: 600px;
        font-size: 13px;
        text-align: center;
        
    }
    .cta-footer-container span{
        color: var(--color);
    }
    .cta-footer-button{
        padding: 0.5rem 1.5rem;
        background-color: var(--color);
        border-radius: 0.5rem;
        cursor: pointer;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    .cta-footer-button p{
        font-family: "inter";
        max-width: 600px;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 350px) {
    .cta{
        padding: 2rem 1rem;
    
    }
}