* {
  margin: 0;
  padding: 0;
}


body {
  /* background: linear-gradient(90deg, rgba(54, 130, 174, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(213, 213, 213, 1) 100%); */
}

/* @media screen and (max-width: 1500px) {
  .app{
    width: 1400px;
  }
} */

